.logout {
  height: 30px;
  width: 15%;
  background-color: grey;
  border: none;
}

.delete {
  height: 30px;
  width: 15%;
  background-color: grey;
  border: none;
}
.logout {
  margin-right: 5px;
  color: white;
  font-weight: 400;
}
.delete {
  margin-right: 5px;
  color: white;
  background-color: rgb(19, 103, 142);
  font-weight: 400;
}
